header {
    color:#0d304d;
    font-family: 'Segoe UI', sans-serif;
    text-align: center;
    font-size: 30px;
    line-height: 1;
    padding: 10px 0px;
    
}

#news {
    letter-spacing: 4px;
}

aside {
    text-align: center;
}

footer {
    text-align: center;
    font-family: 'Segoe UI';
    color: #0d304d;
    font-size: 10px;
    padding: 10px 0px;
}

section {
    text-align: left;
}

h2 {
    color: #0d304d;
    font-family: 'Segoe UI';
    font-size: 40px;
    line-height: 1.2;
}
h3 {
    color: #0d304db4;
    font-family: 'Segoe UI';
    font-size: 30px;
}

hr {
    border: 1px solid #0d304d;
    margin: 20px 0;
}

p {
    color: #000000;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

main {
    margin: 20px 40px;
}